# Gradle
.gradle/
build/
local.properties
*.iml
.idea/
*.DS_Store
captures/
.externalNativeBuild/
.cxx/
*.jks
*.keystore

# Android
/local.properties
/.gradle
/build
/app/build
/app/release

# Kotlin
*.class
